[2019-11-20 07:08] StykMartin opened #6 "Beaker repo in GitHub"
Move all necessary CI parts and workflow to GitHub.

[2019-11-20 07:15] StykMartin commented on #6
At this moment we are running following CI on each per review:
- Dogfood RHEL 7
- RPM builds F29-F32(Rawhide) + RHEL7-8
- Docs
- Pylint

[2019-11-20 07:17] StykMartin commented on #6
Proxy it to execute in our Beaker instance and push it back to upstream

Packit?

EL 7 image

We can possibly replace pylint w/ Sticker.

[2020-01-06 15:28] StykMartin commented on #6
Part of it covered in https://github.com/beaker-project/beaker/commit/822b43d8fc382d7e7658608105866b667b529ee2

[2020-01-13 15:04] StykMartin commented on #6
Docs: https://github.com/beaker-project/beaker/commit/d3f4ebd9c7eaf35a72fa19e9a0eee3b41ce745a1
Pylint: https://github.com/beaker-project/beaker/commit/d3f4ebd9c7eaf35a72fa19e9a0eee3b41ce745a1
RPM builds: https://github.com/beaker-project/beaker/commit/822b43d8fc382d7e7658608105866b667b529ee2
Dogfood: *missing*

[2020-03-30 16:15] StykMartin commented on #6
We done here. First PR merged.

[2020-03-30 16:15] #6 closed

[2020-04-22 09:36] StykMartin opened #12 "[BUG] RHVH 4.4 Installation failure due to disk capacity is not reported correctly"
**Describe the bug**
Beaker doesn't catch anaconda error in RHVH 4.4 when disk size is not big enough for creating thinp w/ autopart

**Version-Release number**
26.4
**To Reproduce**
Schedule RHVH4.4 on a machine with 20G

**Actual behavior**
Installation failed. No disk capacity error is shown

**Expected behavior**
Installation failed. Disk capacity is shown

**Screenshots**
If applicable, add s

[2020-04-22 13:39] #12 closed

[2020-04-23 14:18] StykMartin opened #17 "Add support for power management in alternative harness API"
Allow Harness to send a request to Beaker to power cycle the box.
Currently, this is supported via XML-RPC. The same thing should be possible via HTTP resource.

[2020-04-28 03:28] jvillal-amp opened #19 "[RFE] Change authentication cookie from a session cookie to a persistent cookie"
This is a "quality of life" improvement. At the moment Beaker uses session cookies. So when you close your browser the cookie disappears and then you need to login again the next time you go to the server.

Suggest changing this to a persistent cookie so that the cookie's expiration will match the expiration specified in "visit.timeout" in the beaker server.cfg file.

[2020-05-22 04:34] jvillal-amp opened #23 "[BUG] bkr distro-trees-list --format=json does not return ks_meta or kernel_options_post"
When running the command:

`bkr distro-trees-list --format=json does not return ks_meta or kernel_options_post`

It does not return the `ks_meta` or `kernel_options_post` values. It does return `kernel_options` though.

[2020-05-29 17:28] jvillal-amp opened #24 "[BUG] beaker-import will overwrite previously stored Install Options"
When doing a beaker-import it will overwrite any previously stored Install Options (Kickstart Metadata, Kernel Options, & Kernel Options Post) that may already be set for the distro.

This is problematic in environments where you may import a distro to one lab controller and then work to figure out the correct Install Options to use. Once that is done you then go to import the distro on other lab

[2020-06-01 17:21] JohnVillalovos opened #27 "[RFE] Beaker code needs to use argparse library"
Currently Beaker code in various places is using optparse.

optparse is deprecated in Python 2. And no longer exists in Python 3.

The replacement for optparse is argparse.

[2020-06-02 06:40] StykMartin opened #28 "[BUG] beaker-expire-distros --remove-all failed"
**Describe the bug**
During maintenance we tried to remove all distributions from Lab Controller so we can replace all distros with new location. Execution of `beaker-expire-distros --remove-all` failed with the following error:
`All distros are missing! Please check your server!`

**Version-Release number**
27.4

**To Reproduce**
Run beaker-expire-distros --remove-all

**Actual behavior**
Error o

[2020-06-02 07:04] #28 closed

[2020-06-02 14:37] StykMartin commented on #27
What is Python 3? Enterprise world doesn't know this term yet.

[2020-06-17 10:38] StykMartin opened #32 "[RFE] Use Restraint as default harness across all supported distributions"
### Current situation
Beah is used for RHEL 5 up to RHEL 7.
Restraint is used for RHEL 8 + all Fedoras.

However, Beah is no longer developed nor supported. Last commit https://github.com/beaker-project/beah/commit/3dd6d5152da73ff2ca7306b92ae9c630ef8fa967. Almost 2 years ago.

### Proposed solution
Use Restraint as default harness across all supported distros.
At this point, Restraint is in really

[2020-06-19 14:16] #19 closed

[2020-06-19 14:16] #23 closed

[2020-06-22 15:18] #17 closed

[2020-06-22 19:36] #24 closed

[2020-06-23 14:03] jvillal-amp opened #36 "[RFE] system-modify can not modify any power settings"
The system-modify command can not modify any power settings. This requires the user to modify the settings in the GUI instead.

As a note the system-create command does allow the user to set these values.

[2020-06-23 14:28] StykMartin opened #38 "[BUG] Dogfood is always failing on test_by_date_added selenium test"
**Describe the bug**
Integration tests are failing during full run on a single node.

**Version-Release number**
Latest in development. However, I was able to reproduce it on stable.

**To Reproduce**
Run dogfood.

**Actual behavior**
[code]

**Expected behavior**
All good.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other context a

[2020-06-24 15:07] #36 closed

[2020-07-10 15:44] #32 closed

[2020-07-13 09:06] StykMartin opened #48 "[RFE] Hide password in power management"
**Is your feature request related to a problem? Please describe.**
The password in power management is exposed.

**Describe the solution you'd like**
Password will be hidden by default and the user can toggle to actually see it.

**Additional context**
![image](https://user-images.githubusercontent.com/188918/87286218-dd2f0080-c4f8-11ea-9bb9-068922ef8f49.png)

[2020-07-13 14:28] #48 closed

[2020-07-15 08:35] StykMartin opened #51 "[RFE] Enable to deploy Beaker server / lab-controller on non-x86-64 environment"
**Is your feature request related to a problem? Please describe.**
At this moment it is not possible to deploy Beaker in environment without x86_64 machines.

Beaker itself is completely `noarch` product, however, we use dependencies that can be found only on particular architectures.
For example `syslinux`. This package is packaged only to `x86-64` RHEL 7.

We should get rid of dependencies like

[2020-07-27 10:21] #38 closed

[2020-07-30 12:58] beraldoleal opened #55 "[RFE] Ability to control key,value over the HTTP API"
**Is your feature request related to a problem? Please describe.**

Hi all, I'm part of virt team at RH and we provide machines to the virt team with Beaker, using both automatic and manual. I'm not sure if this is the proper place and/or this is something that is already implemented, but we haven't found a nice solution yet, So, for us, would be nice to have better visibility of our loans to avoi

[2020-07-30 13:14] StykMartin commented on #55
Hello @beraldoleal,

Thank you for reaching out to us.

There is no plan to expose and give control of `Key/Value`. `Key/Value` are feed with additional details about system, rather user-defined variables. I believe we provide a lot of different mechanisms on how to "tag" machine. For example, you can use `pools` and combine them with `ACL(s)`.

[2020-07-30 13:14] #55 closed

[2020-08-04 02:55] skycastlelily2 opened #57 "[RFE]beaker should fail the job when no requestd hardware available"
I try to reserve a 'SAS' server with "bkr workflow-simple --arch=x86_64 --distro=Fedora-Rawhide-20200607.n.0 Server --hostrequire devices_driver=SAS  --task=/distribution/check-install --task=/distribution/reservesys",but find
that beaker reserve a kvm host,I think beaker should fail the job or queue reservation on a 'SAS' server when there is no available 'SAS' server.
I try to clone the job with

[2020-08-05 08:31] skycastlelily2 commented on #57
Any update here?This is a little urgent,thanks.
The situation is worse than I thought:
When I try to reserve a SCSI server,beaker reserve a "SATA" one all the time,even though there are two available SCSI servers:
https://beaker.engineering.redhat.com/recipes/8637491

Name | Arch | Vendor | Model | LoanedTo | Status | Type | Action | User
-- | -- | -- | -- | -- | -- | -- | -- | --
hpe-bl465cgen8-0

[2020-08-05 11:17] StykMartin commented on #57
[code]

Definition of how to operate with devices. So, in this case, you should do
[code]

[2020-08-05 11:28] StykMartin commented on #57
```--hostrequire devices_driver=SAS``` Will only pass the value into the XML section.
There is no validation if you are right or not.

[code]
Results into ```
Recipe ID 8638421 does not match any systems ```. Please always follow the XML schema.

[2020-08-06 10:56] skycastlelily2 commented on #57
Hi,
 Thanks a lot for your reply,the following works ,and it will queue if there is no available server
[code]

[2020-08-06 10:56] #57 closed

[2020-08-10 09:17] StykMartin opened #58 "[RFE] Add ability to skip task repo if not available"
**Is your feature request related to a problem? Please describe.**

We had a partner recently that was running into an issue setting up some repos and installing packages on a machine they had provisioned with DCI/Beaker.  We traced the issue back to the beaker-tasks repo that is on the machine after Beaker is done.  The partner ran a "yum clean all" and then attempted to perform some more yum com

[2020-08-10 16:47] #58 closed

[2020-08-10 19:05] jvillal-amp opened #61 "Should the install_start watchdog be 3 hours?"
So the install_start watchdog appears to be set to 3 hours when the install starts. Which seems kind of long for the use cases I do.

Are installs really taking longer than 30 minutes?

The watchdog gets set to 3 hours when the install process tells the beaker lab controller that it is starting the install. So the install has started at that point.

The reason I am asking is we are sometimes seein

[2020-08-11 07:21] StykMartin commented on #61
hi @jvillal-amp,

tl;dr - Yes. The values are Correct.

Long one.  All values were precisely picked based on systems used in Red Hat and issues with NFS / HTTP / FTP services servicing all the content. It may look like overkill but we bridged some of the values in the past.

If your system is connected to console, then make sure that the Install detector + Panic detector are turned on. It will abo

[2020-08-11 07:22] #61 closed

[2020-08-24 09:00] StykMartin opened #65 "[BUG] Memory usage for exports is insane"
**Describe the bug**
You need a beefy instance for reproducing this issue. Anyway, if you have a huge pool of machines + a lot of excluded OS(s) on them then export will end up with 500 status code.

500 is returned because the worker is killed by the system due to OOM even when we have 1.5 G allocated for this operation.
When I was running this I was able to peak to almost 3G.

**Version-Release

[2020-08-24 09:00] #65 closed

[2020-08-25 18:09] cbouchar opened #68 "[BUG] Missing instructions to prepare beaker release."
**Describe the bug**
Beaker Architecture documentation is missing instructions to prepare beaker release.

**Version-Release number**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://beaker-project.org/docs/architecture-guide/' and there is no doc for preparing beaker release.
2. Since this architecture document is targetted for developers, it seems like an appropriate location

[2020-08-25 18:16] cbouchar commented on #68
This will be documented elsewhere.

[2020-08-25 18:16] #68 closed

[2020-08-26 19:35] mahmoud opened #70 "[RFE] Link to this repo from beaker-project.org?"
Any chance we can link to this repo on the [Develop page](https://beaker-project.org/dev/)? Also, would it be possible to set up a redirect from `git.beaker-project.org`? Thanks!

[2020-09-10 19:34] jbastian opened #71 "[RFE] increase rows per page on host queries"
**Is your feature request related to a problem? Please describe.**
When searching for a system in Beaker, the results are limited to 15 rows.  This leaves a lot of unused white space (on my monitor at least), and it's painfully slow clicking from one page to the next to look at all the systems.

**Describe the solution you'd like**
Increase the rows per page and/or make it customizable.

**Describ

[2020-09-10 20:19] jbastian commented on #71
Thanks to @wackrat for finding the relevant code:

https://github.com/beaker-project/beaker/blob/beaker-28.0/Server/bkr/server/controllers.py#L300

If we can adjust the `limit=20` here, and for the similar queries for "Free" and "Available" and so on, that would be nice.

[2020-09-11 09:12] StykMartin commented on #71
I believe that this change is out of the scope for LTS.

[2020-11-05 09:06] skycastlelily opened #72 "[RFE]load-request command"
Hi,

There are  loan-return and loan-grant commands,would you please provide a load-request command,
so that my team's autotest service could send load request to specific server automatically?

Thanks,
Lili

[2020-11-12 11:32] xhernandez opened #74 "[BUG] Kerberos authentication fails on Python 3.9"
**Describe the bug**
When kerberos authentication is attempted, an exception is thrown:

[code]

**Version-Release number**

28

**To Reproduce**
Steps to reproduce the behavior:
1. Configure and initialize kerberos with `kinit`
2. Configure `bkr` to connect to the desired hub
3. Run `bkr whoami`

**Actual behavior**
Kerberos connection doesn't work.

**Expected behavior**
Kerberos connection shou

[2020-11-12 11:41] xhernandez commented on #74
I've submitted PR #75 to fix this.

[2020-11-16 13:03] renanrodrigo commented on #74
#75 is merged. Thanks for the contribution!

[2020-11-16 13:03] #74 closed

[2020-11-24 08:26] renanrodrigo opened #80 "Retired dependency: python-qpid"
The `python-qpid` package was [retired](https://src.fedoraproject.org/rpms/python-qpid) after being orphan for a long time.
Beaker server package has it as a dependency.

[2020-11-24 21:31] #80 closed

[2020-11-25 10:11] skycastlelily opened #82 "[BUG] get unwanted waring message with <hypervisor op="=" value=""/>"
I  try to reserve a bare metal machine by adding the following to the job xml,but get unwanted message:
WARNING: job xml validation failed: Element hostRequires has extra content: hypervisor, line 8,
and due to a  bug[1] in asyncio,most of my autotest beaker jobs failed,would you please omit that warning?

      <hostRequires>
        <hypervisor op="=" value=""/>
        <device_description op="=

[2020-12-14 18:35] jstodola opened #83 "[BUG] Do not use deprecated kernel boot arguments"
**Description of problem:**
When installing Fedora-Rawhide (future Fedora 34) in Beaker, the following warnings are printed by the installer:

[    9.574010] dracut-cmdline[299]: Warning: 'ks=<URL>'
[    9.584962] dracut-cmdline[299]: Warning: ks has been deprecated and will be removed. Please use inst.ks instead.
[    9.596929] dracut-cmdline[299]: Warning: 'ksdevice=00:00:1A:1B:0B:8C'
[    9.604

[2020-12-14 19:14] StykMartin commented on #83
So. My plan is to implement this change only for F34+ and RHEL9+ so we can reduce the chance that we will break current workflows.

[2020-12-14 19:51] jstodola commented on #83
F34+ and RHEL9+ sound good to me.

[2020-12-28 02:35] skycastlelily commented on #82
I git clone the code,and quickly found out that the following works well,though it makes me feel confused that the xml mentioned in the description also works.
    <hostRequires>
       <system>
          <hypervisor op="=" value=""/>
          <vendor op="!=" value="HP"/>
        </system>
      </hostRequires>

[2020-12-28 02:35] #82 closed

[2021-02-09 22:53] AloisMahdal opened #88 "[RFE] clarify external/local in bkr-watchdog-extend(1)"
**Is your feature request related to a problem? Please describe.**
Learning about `bkr watchdog-extend` I wanted to know whether the command will adjust only external watchdog or both external.

But I could not tell neither from the manpage nor from `--help`

**Describe the solution you'd like**

`--help` and/or manpage should mention the fact that this command adjusts external watchdog only.

**D

[2021-02-10 08:26] StykMartin commented on #88
We have only one watchdog in **Beaker** itself 👀

[2021-02-14 21:22] AloisMahdal commented on #88
I see, that's what I suspected.

I don't know where I've picked this double-watchdog idea but looking through Beaker docs I can't say it's responsible; it barely mentions watchdog and when it does, it just calls it "watchdog".  Maybe beaker-results anbd the WUI -- `External Watchdog Expired` message, and occasional `localwatchdog`.

Feel free to close it looks like I'm the only one that would bene

[2021-02-14 21:25] AloisMahdal commented on #88
.. on a second look, [Architecture Guide][ag] does mention it:

  [ag]: https://beaker-project.org/docs/architecture-guide/capabilities.html

[2021-02-14 21:30] StykMartin commented on #88
Keeping this open.
Would be nice to get rid of LWD notes. It is out of the scope for Beaker itself. Test harness may have many watchdogs and it depends on implementation what you will see in Beaker.

[2021-02-15 14:49] #83 closed

[2021-04-13 07:59] StykMartin commented on #71
So, the code behind it will be irrelevant. However, we will need to get pagination on the new Beaker UI.
@renanrodrigo

[2021-04-13 08:10] renanrodrigo commented on #71
Doable. PatternMAGICfly even has the components for that.

[2021-04-13 08:37] StykMartin opened #103 "Introduce Black in Stickler CI"
Actually,
I just noticed that they support black https://stickler-ci.com/docs#python.

 Feel free to introduce it in our stickler CI, (you can find the configuration file in the root directory).
Please do not enable fixer=true. Users should fix their PRs instead of robots.

_Originally posted by @StykMartin in https://github.com/beaker-project/beaker/issues/102#issuecomment-818511859_

[2021-04-13 16:08] shall1024 opened #105 "Fedora 31 harness not up on beaker-project.org"
There is not a version of the restraint harness for Fedora 31 available at [https://beaker-project.org/yum/harness/](https://beaker-project.org/yum/harness/), but we want to run tests with Fedora 31.

Without this harness, running tasks like `reservesys` result in the job incorrectly reporting failures/not notifying users that their machine is reserved, even if the OS installed correctly, etc.

Ev

[2021-04-13 16:13] StykMartin commented on #105
Hello, there is no Fedora 31 available at https://beaker-project.org/yum/harness/ because Fedora 31 is already marked as the end of life.

I can still build it for you in the community builder, but you will need to store it somewhere else.

[2021-04-13 16:19] shall1024 commented on #105
Yes, that sounds great. We will be able to store it locally on our server.
Thank you very much.

[2021-04-13 16:35] StykMartin commented on #105
Which architectures do you need @shall1024 ?
Upstream removed F31 build targets, however Brew (RH Koji) should still have it. Can you take a look @renanrodrigo ?

[2021-04-13 17:20] renanrodrigo commented on #105
We have here the latest version of restraint built for F31, which is 0.3.1.
Do you need the latest 0.3.3, @shall1024 ?

[2021-04-13 17:52] shall1024 commented on #105
@StykMartin @renanrodrigo , we only need the x86_64 architecture, as for the version of restraint, I don't believe we have a specific requirement, so 0.3.1 should be sufficient.

Thank you.

[2021-04-14 12:19] renanrodrigo commented on #105
@shall1024
https://file.io/WVC7EYuyz0kh
(single download I guess)

[2021-04-14 16:18] #105 closed

[2021-04-23 17:00] #103 closed

[2021-04-28 15:04] nmorey opened #126 "[RFE] Support other distributions"
**Is your feature request related to a problem? Please describe.**
OpenFabrics is planning to use Beaker to automated RDMA kernel testing and to provide a dev/test/debug cluster for the OpenFabrics members.
As SUSE is interested in taking part in this, we would need Beaker to support other distros then RH based.
SUSE would obviously contribute for the autoyast part.

**Describe the solution you'd

[2021-04-28 15:58] JohnVillalovos commented on #126
That would be very cool to get SuSE support. I took a stab it in the past and the XML based autoyast confused me 😵

At the moment we are able to install Debian 10.X and Ubuntu 18.04 using Beaker.  Probably could also install 20.04 but I would have to research that more as they changed the installer but I think it is possible to still be able to use deb-install on 20.04, but not 100% sure.

[2021-04-28 16:12] StykMartin commented on #126
I wouldn't like to dive into Ampere provisioning here. That's definitely not supported directly by Beaker. You hacked it a lot. @JohnVillalovos

[2021-04-28 16:19] JohnVillalovos commented on #126
I tried to upstream all of our work though. The infrastructure is there, though the documentation is missing to be sure 😟

I think the biggest thing missing is likely the "kickstart" template file. I don't think I submitted that as it is not generic at this point. It needs work to make it templatable like the standard kickstart templates.

[2021-04-29 06:18] nmorey commented on #126
That's great to hear. I wouldn't be able to help you on Autoyast directly as I have very little experience with it myself, but I think we should be able to find someone at SUSE who knows a thing or two about it :)
 I'll knock on a few doors internally and try to find someone who can help

[2021-04-29 07:03] StykMartin commented on #126
Making this work natively in Beaker will be more complicated than Autoyast. I believe there is tooling that we can use at least for validation.

I would like to know which SuSE version is a baseline for integration and where we can get the copies.
Will we need multiarch or x86_64 only?
Is there any metadata around the composes, as Fedora/RHEL/CentOS has.

[2021-04-29 16:31] nmorey commented on #126
Tumbleweed is probably the target to start with. All the SLES/Leap inherits from it. So once Tumbleweed works, at least all future SUSE release should do too.

At the moment x86_64 should be enough. I saw that you have an RFE for multiarch so we'll see then :)

I don't know what that is so can't say.

[2021-05-11 20:30] shall1024 opened #131 "[BUG] system_post snippet not used by Beaker"
**Describe the bug**
We have a `system_post` file defined in `/etc/beaker/snippets`, but it does not seem to be used when provisioning systems.
It doesn't appear in our anaconda-ks.cfg files, and the tasks in `system_post` are not executed when the installation is completed.

All other snippets appear to be used/executed correctly.

**Beaker version: 28.2**

**To Reproduce**
Steps to reproduce the

[2021-05-11 21:23] mdujava commented on #131
Hey, do you have kickstart template for RHEL7 or you let beaker to fallback to default one? https://github.com/beaker-project/beaker/blob/bed610bde4ea72486293b151f8c768c6b6f448e3/Server/bkr/server/kickstarts/default#L107

I suspect that you don't have such line in your ks template. As you don't have system_pre snippet defined, default template would expand it to `# no snippet data for system_pre`,

[2021-05-12 23:28] mdujava commented on #131
Another thing is that you have system_post defined also per_lab (which has higher priority, per https://github.com/beaker-project/beaker/blob/develop/documentation/admin-guide/kickstarts.rst#overriding-kickstart-snippets). I would try to add `true #per_lab` after https://github.com/OpenFabrics/fsdp_beaker_snippets/blob/5b6fd8673425daef5514b0b5fdc7d39d7b6bb67e/snippets/per_lab/system_post/beaker.of

[2021-05-18 18:50] shall1024 commented on #131
Thank you, it turned out to be a priority issue with the per_lab vs. global system_post.

[2021-05-18 18:50] #131 closed

[2021-05-18 22:29] JohnVillalovos opened #132 "[RFE] No client for Fedora 34"
There should be a client for Fedora 34 at: https://beaker-project.org/yum/client/

But there isn't 😭

[2021-05-18 22:57] StykMartin commented on #132
I will build some then

[2021-05-21 12:08] StykMartin commented on #132
F34/Fedora Rawhide updated.

[2021-05-21 12:08] #132 closed

[2021-06-11 18:06] shall1024 opened #133 "Beaker no longer provides both "Take" and "Borrow" options for test nodes"
At some point in the past, when looking at individual machines that have a status of Automated, we had both the "Take" and "Borrow" options available to us:

![image](https://user-images.githubusercontent.com/71143113/121730856-37946080-cabe-11eb-8ea9-f3853c29d675.png)

[2021-07-14 08:13] zelial opened #137 "[BUG] bkr job-results ends with an ISE 500 traceback for jobs with too many results"
**Describe the bug**
When a job contains a lot of reported results (7500), it  can't be retrieved via cmdline, bkr job-results returns a non-descriptive ISE 500 traceback:

Traceback (most recent call last):
  File "/usr/bin/bkr", line 11, in <module>
    load_entry_point('beaker-client==28.2', 'console_scripts', 'bkr')()
  File "/usr/lib/python3.6/site-packages/bkr/client/main.py", line 113, in m

[2021-07-14 09:29] StykMartin commented on #137
Yeah, I know the root cause here.
The beaker server died when it tried to fetch all the data to memory. Workers killed by the system and resulting in 500. I will fix this when I rework API.

[2021-08-06 15:28] bgoncalv opened #138 "[BUG] kernel oops that happens during provison are marked as panic in the last task"
**Describe the bug**
This was initially reported on https://bugzilla.redhat.com/show_bug.cgi?id=1623729

In case there is kernel oops during provision this oops is marked as a kernel panic in the last beaker task. This causes confusion to understand why that task is shown as panic.

**Version-Release number**
28.2

**To Reproduce**
Steps to reproduce the behavior:
1. Provision an OS that triggers

[2021-08-09 12:16] mdujava commented on #138
Panic detection can be configured by `PANIC_REGEX`, it's set on LC basis https://github.com/beaker-project/beaker/blob/3a1155308899a301dbf042c55694680f03051346/LabController/src/bkr/labcontroller/default.conf#L23
and by default it includes Oops.

You can disable panic detection all together by including `<watchdog panic="None"/>` in your recipe.

[2021-08-09 12:28] bgoncalv commented on #138
Note, I don't want to ignore `Oops` in general. My only problem are with `Oops` that happened on provision that causes the last task in the recipe to be marked as `Panic`, this task shouldn't be marked as panic as there was no `Oops` when the task executed.

[2021-08-09 12:32] StykMartin commented on #138
@bgoncalv is right. I'm aware of this behavior. The problem is that we can't really mark `Panic` during installation at this moment, therefore most of the time it lands on the first task. But, it may happen that we failed to detect it at first therefore it will land on another (the one which was running when we found `Panic`).

Yeah. This needs to remain open and we will need to find a better way

[2021-08-09 14:05] pholica opened #139 "[BUG]"
**Describe the bug**
result="New" status="Completed" is reported for tasks that are finished but didn't provide any result. If there's no result provided it should be considered as "misconfiguration" and "Warn" result should be set.

**Version-Release number**
28.2

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Beaker task which exits with zero return code
2. Execute such task in B

[2021-08-09 15:49] bgoncalv commented on #138
Thanks @StykMartin, do you have any suggestion how can we workaround this? For example, we could create a dummy task to trigger this panic detection and run it as first task. Is there a way for a task force to run the detection?

[2021-10-03 14:06] StykMartin opened #141 "RPM build - CentOS Stream 9"
At this moment it is not possible to create a new RPM build for CentOS Stream 9.
Build is failing in early stage with following error:
[code]

It is necessary to investigate why packages are not available and what we will do next.

[2021-11-23 17:02] StykMartin commented on #138
Hello @bgoncalv. My answer never ended on GitHub. I'm sorry about that. So the situation is quite a bit more complicated, but I feel like we can make some compromise if you still need it.

So panic detection is running on background in each region. Then it is proxied to the main server to process. The main server will check tasks assigned to given recipe and iterate over. If iteration is exhausted

[2021-11-23 17:28] bgoncalv commented on #138
@StykMartin thanks for the reply. Indeed that feature would be helpful for us. If the panic detection will assign `panic` detected during provision always in the last task of the recipe that would help us indeed.

[2021-11-23 18:07] StykMartin commented on #138
This is happening at this moment. All panics are assigned to the last task **if there is no running task**. So basically if we didn't register any start (for example provisioning) we will always mark last.
However, there is a catch. If restraint will report n-2 task as finished and n-1 is not reported as started then we may report panic in this window to last as well. But changes are quite small t

[2021-11-23 18:08] StykMartin commented on #138
I would suggest you put dummy tasks at the end and then collect panics from there.

I will try to redesign this feature so we can report panics during provisioning to dedicated space and not marking tasks.

[2021-12-03 22:19] JohnVillalovos opened #144 "A `beaker-import` of RHEL 8.5 fails to add AppStream and BaseOS repos."
When importing RHEL 8.5 using `beaker-import` it fails to add the `AppStream` and `BaseOS` repos. This causes the install of `restraint` to fail as there are no repos available to download the required `make` package.

[2021-12-06 08:11] StykMartin commented on #144
Sadly I can't work on this, because I have no clue how 8.5 metadata looks like. I guess someone from RH will need to take a look. I guess you can provide debug output at least

[2021-12-08 21:41] stratakis commented on #141
nose's development has stalled upstream since 2016. It's better to move the project to pytest and the conversion should be simple enough.

As for mock, python includes it in the stdlib so there is no need to use the external library.

[2021-12-15 17:37] hroncok commented on #141
See also https://fedoraproject.org/wiki/Changes/DeprecatePythonMock and https://fedoraproject.org/wiki/Changes/DeprecateNose

[2021-12-15 18:30] StykMartin commented on #141
That's completely fine. We will fix it, but first it has to be tracked :)

[2021-12-20 14:54] mdujava commented on #144
Hey @JohnVillalovos can you compare if your tree is similar to the Centos8 at http://mirror.centos.org/centos/8/BaseOS/x86_64/os/, when importing ` distrotrees/X#repos` is empty, even after `.treeinfo` contains `repository=.` and `repository = ../../../AppStream/x86_64/os/`

beaker-import -v shows that
[code]

[2021-12-20 15:20] StykMartin commented on #144
@mdujava what you posted is really an issue in CentOS 8 compose. I had a huge discussion about that, but there was 0 willing to change anything, therefore, I aborted any effort. This shouldn't be the case for RHEL as they follow the same strategy for composing thru the whole 8.

[2021-12-21 23:16] JohnVillalovos opened #146 "Clients not available for Fedora 35"
This location does not have a client for Fedora 35:

https://beaker-project.org/yum/client/

[2022-01-04 06:44] nomuranec opened #147 "[BUG] grubport snippet breaks unified grub.cfg setup of CentOS Stream 9"
**Describe the bug**
grubport snippet modifies /boot/efi/EFI/redhat/grub.cfg.  Modification is necessary on EFI system with older distros like RHEL7 and RHEL8.   However since Fedora 34 and CentOS Stream 9, the file should not be modified as it becomes a step stone to the unified grub.cfg, i.e. /boot/grub2/grub.cfg.

**To Reproduce**
Steps to reproduce the behavior:
1. Provision CentOS Stream 9 on

[2022-01-04 08:26] StykMartin commented on #147
Resolved by #148.

[2022-01-04 08:26] #147 closed

[2022-04-17 15:52] Yarboa opened #150 "[RFE] Add CentOSStream 9 Repo under yum/download"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

In case i would like to install the following on CentOSStream9
beaker-client
beaker-harness

Need to use the following repos

https://beaker-project.org/yum/beaker-client-Fedora.repo
https://beaker-project.org/yum/beaker-harness-Fedora.rep

[2022-04-21 02:26] Honggang-LI commented on #51
I installed beaker lab `controller` and `client` on aarch64 virtual machine. To get rid of `syslinux` dependency, I built a dummy package in name `syslinux` to cheat `beaker-lab-controller-28.2-1.el7bkr.noarch`.

I can provision virtual machines with the aarch64 beaker lab controller. I did not test the beaker `server` with aarch64 yet.

If only `syslinux` is your trobule, you may can cheat Beaker

[2022-04-28 22:24] JohnVillalovos commented on #146
@StykMartin Any chance you can generate these files? Thanks.

[2022-05-02 15:41] Yarboa commented on #150
@StykMartin I am interested in doing the work.
Tried to to reach in libera.chat, any guidelines for the build?

[2022-05-02 15:42] rasibley commented on #141
hi @StykMartin ! hope your doing well :-) curious if there is any update on this issue or are we still blocked due to the deprecated packages ?

[2022-05-02 18:16] StykMartin commented on #141
Hello @rasibley. I haven't worked on this yet. However, if it is a blocker for you I can dedicate some time and fix the issue.

[2022-05-02 18:25] StykMartin commented on #146
@JohnVillalovos just checking what is missing. Can you please share the list of RPMs you missing there?

[2022-05-02 18:27] StykMartin commented on #150
Hi @Yarboa.
I can look into this. Just to confirm. You need C9 Beaker Client and C9 Harness (Client + Server)
Is that right?

[2022-05-02 18:34] JohnVillalovos commented on #146
Sure

[code]

Basically the files that are in: https://beaker-project.org/yum/client/Fedora33/

Thanks!

[2022-05-02 19:13] StykMartin commented on #146
All files provided for Fedora 35
https://beaker-project.org/yum/client/Fedora35/

Closing now.

[2022-05-02 19:13] #146 closed

[2022-05-02 19:43] JohnVillalovos commented on #146
Thanks @StykMartin !!

[2022-05-02 21:39] rasibley commented on #141
Thank you @StykMartin ! Yes a bit of blocker for us as we would like to enable upstream kernel testing against the (AutoSD) Automotive Stream Distribution, see https://sigs.centos.org/automotive/#automotive-stream-distribution for more details. Thank you for working on it ! :hugs:

[2022-05-03 07:17] Yarboa commented on #150
Ack,

[2022-05-03 08:29] Yarboa commented on #150
@StykMartin
Many of the package does not have rpms
I used pipenv and ran Misc/rpmbuild.sh -bb
under pipenv shell

pip install gssapi
pip install mock
pip install nose
pip install sphinx

I also found this:
https://www.linuxfixes.com/2022/04/solved-how-to-include-pip-packages-in.html

Do you think it worth trying?

[2022-05-03 10:05] StykMartin commented on #150
Yeah, I wouldn't do that for sure. I will allocate some time this week and I will deliver packages as we usually do.

[2022-05-03 11:33] Yarboa commented on #150
Highly appreciated

[2022-05-07 08:49] StykMartin commented on #141
Just a quick update. It is being worked on this problem. I just need to land a couple of PRs to remove obstacles.

[2022-05-11 15:07] rasibley commented on #141
Thank you @StykMartin !

[2022-05-18 17:10] rasibley commented on #141
@StykMartin looks like it was merged ! Thank you, should we close the issue and Yariv's issue as well which seems to be a dup ? Also where can I find the c9s Restraint builds ?

[2022-05-19 08:02] StykMartin commented on #141
C9 chroot was broken lately quite often therefore I had no chance to properly build stuff. If everything goes well we will have everything resolved by this weekend.

[2022-05-19 12:40] Yarboa commented on #141
Thanks you @StykMartin

[2022-05-24 17:31] StykMartin commented on #141
[code]

The client is in place. Btw, the beaker-client will be part of EPEL-9 as well -https://koji.fedoraproject.org/koji/buildinfo?buildID=1969906

Restraint is on the way as well.

[2022-05-25 11:31] Yarboa commented on #150
@StykMartin I think you can close #141
And continue with harness here, WDYT?

[2022-05-25 12:25] StykMartin commented on #141
Client done. Closing ticket. Harness will be done under #150

[2022-05-25 12:25] #141 closed

[2022-05-31 08:43] Yarboa commented on #150
@StykMartin thanks for the work done here #141
Is there any progress related to harness?

[2022-05-31 14:59] joe-lawrence opened #155 "[RFE] Fedora 36 rpms / repo"
The Beaker download page https://beaker-project.org/download.html provides a fedora.repo file, but no packages exist for Fedora 36 (yet):
[code]

[2022-05-31 17:01] StykMartin commented on #155
Beaker-redhat package is definitely not provided in BP.org repository. However, I synced F36 client there.

[2022-05-31 17:29] #155 closed

[2022-05-31 20:04] joe-lawrence commented on #155
@StykMartin : Thanks, Martin and good catch on the package name.  Do you happen to know who to contact to update the internal RH beakerrepos?

[2022-06-01 04:57] StykMartin commented on #155
I would start with @p3ck. Bill can help with this for sure.

[2022-06-01 18:34] p3ck commented on #155
@cbouchar is building this in dist-git so it should be available soon for f36.

[2022-06-02 15:38] cbouchar commented on #155
@joe-lawrence @p3ck build folks fixed their issue and beaker-redhat 0.2.1-4 should be in place as well as -3 if you really need that.

[2022-06-03 13:45] StykMartin commented on #150
Hi @Yarboa. Initial Restraint for C9Stream is there. I had to use upstream spec. Feel free to test it. I will work on some changes meanwhile.

[2022-06-14 13:26] #150 closed

[2022-06-28 00:50] desnesn opened #156 "[BUG] Beaker is vulnerable to jquery multiple XSS - CVE-2020-11022 and CVE-2020-11023"
**DESCRIPTION**
The systems on my company are scanned for security vulnerabilities and beaker has been triggered vulnerable to CVE-2020-11022 and CVE-2020-11023 associated with multiple XSS on jquery.

[code]

**VERSION-RELEASE NUMBER**
On the customer portal (https://access.redhat.com/solutions/32036) Red Hat said that jquery is not maintained on RHEL-7, thus the solution pages suggests that user

[2022-06-28 02:26] desnesn opened #157 "[BUG] beaker-proxy hangs on a GET request resulting in all Beaker jobs hanging - server/controller reboot necessary"
**DESCRIPTION**
The systems on my company are scanned for security vulnerabilities and the beaker-proxy service is hanging with one GET request made by the vulnerability tool.

After the GET request searching for an specific vulnerability is received, all beaker jobs get stuck in a Waiting or Updating stage and don't move forward. Restarting beaker-proxy and beaker-watchdog services does not get B

[2022-06-28 02:27] desnesn commented on #157
Somewhere on python-werkzeug? This thread caught the eye: https://github.com/pallets/werkzeug/issues/808

And this:
[code]

What is the current recommended version of python-werkzeug to be run on Beaker?

[2022-06-28 02:41] desnesn commented on #157
This is also a clue?
[code]

[2022-07-26 17:46] JSpewock opened #158 "[RFE] Add harness packages for Fedora 36 and RHEL 9"
**Is your feature request related to a problem? Please describe.**
Importing the Fedora 36 and RHEL 9 distros works fine and they appear in beaker but provisioning with them always fails because it couldn't find the repo containing harness packages for the distro.

**Describe the solution you'd like**
It would be nice if there were officially supported harness packages for these distros in the bea

[2022-07-29 01:08] desnesn commented on #156
We tried using jquery_migrate ... which at first seemed to have bypassed the issue, however, it break ssh adding as follows:

[0023-beaker-updating-jquery-min-js-to-fix-multiple-XSS-vu.patch.txt](https://github.com/beaker-project/beaker/files/9215175/0023-beaker-updating-jquery-min-js-to-fix-multiple-XSS-vu.patch.txt)

![image](https://user-images.githubusercontent.com/9698846/181661866-540dc98d-f

[2022-08-12 14:25] desnesn commented on #158
@JSpewock

As far as I knew, the harness packages were not available at https://beaker-project.org/yum/harness/ mostly because RHEL9 and F36 were not GA, thus the packages could not be released. Nevertheless, RHEL9 and F36 both GAed on May.

It seems that Beaker is on a maintenance state nowadays, but it still has support inside Red Hat. Thus, I think it is just a matter of the request reaching th

[2022-08-12 14:33] desnesn commented on #51
A couple of years ago I did try to run/port the beaker server/controller packages on ppc64le and I think that what gave me the most issues on the server was porting selenium? Can't remember ...

Eventually, I just gave up and was able to find a x86_64 server to use.

However, the right way to provide support on other arches would most likely involve also porting the beaker server/controller depend

[2022-08-12 15:01] StykMartin commented on #158
I was keeping all packages upstream up to date with OS releases. Lately, I wasn't able to find time to make a new build.
I will try to make builds available during the weekend.

[2022-08-12 15:04] desnesn commented on #126
@StykMartin @nmorey @JohnVillalovos

It seems that Beaker is on a maintenance state nowadays (specially upstream); thus, as far as I know, new features like these will hardly be ever implemented.

Nonetheless, I don't know if this still in your radar, but as a side project in my company, since we had the necessity, we tackled non-RHEL support on Beaker on the past year.

In summary, among other th

[2022-09-01 13:51] JSpewock commented on #158
@StykMartin Any update on this? I still don't see the packages for those distros available

[2022-09-09 12:29] jikortus opened #163 "[BUG] File conflicts in multilib installation of restraint-rhts"
**Describe the bug**
restraint-rhts fails to install on a multilib system due to file conflicts in x86_64 and i686 packages (excerpt from Anaconda's program.log):

`
12:24:56,833 INF program: + dnf -y install restraint-rhts
12:24:56,833 INF program: Updating Subscription Management repositories.
12:24:56,833 INF program: Unable to read consumer identity
12:24:56,833 INF program:
12:24:56,834 INF p

[2022-09-09 12:33] jikortus opened #164 "[BUG] Beaker job fails to complete on a multilib system"
**Describe the bug**
Beaker jobs that are executed on a multilib system fail to complete (see issue #163). The reason is that the installation of restraint-rhts fails due to file conflicts in the multilib (i686, x86_64) packages, and subsequent jobs that should be run after system installation aren't run and finally the job fails with a warning after the watchdog expires.

Beside a proper fix cons

[2022-11-14 14:28] vijay94 opened #167 "[BUG] Git sub modules error and bootstrap issue"
I tried setting up the beaker in my local and faced issues with git sub modules getting timed out and the bootstrap version which was used in this project is not in active development and fresh install threw so many less errors(undefined variables and mixins).

[2022-11-22 22:06] JohnVillalovos opened #168 "[BUG] lessc having issues with bootstrap file"
Unsure why I started seeing these errors in the /var/log/beaker/server-errors.log file.

Doing the following fails. Which seems to be what Beaker is doing in the traceback below
[code]

Saw this in the log file which led me to the above:
[code]

[2022-11-23 12:01] mdujava commented on #167
Hey,

if you are using develop branch you may need to backport https://github.com/beaker-project/beaker/commit/0e33d509e1862b631e8e49b8a2927f53751705ce to update from git:// to https:// as Github stoped hosting repost over unencrypted git protocol.

[2022-11-23 18:00] vijay94 commented on #167
I made those changes in my local and tried. But still bootstrap now uses scss instead of less. And most of the libraries used in beaker have updated their folder structure itself. So I had to do so many changes in styles to run the application locally.

[2022-11-23 21:32] JohnVillalovos commented on #168
I ran a CentOS 7 container using `podman`. Installed the beaker yum repository file and then installed `beaker-server`.

Running the same command works in the container. I then did a `yum update` on the container and it still worked. I'm confused...

[2022-11-23 21:49] StykMartin commented on #168
Hello John,

It is caused by nodejs-less rpm bump - https://github.com/beaker-project/beaker-project.org/issues/38

_and I'm gone again..._

[2022-11-23 21:52] JohnVillalovos commented on #168
I just figured out that the version of `nodejs-less` package I am using is coming from EPEL. I'm guessing that is the issue.

And also what @StykMartin says above.

[2022-11-28 09:04] mh21 opened #169 "Clients and harness not available for Fedora 37"
FC37 has been released 🎉, but the Beaker client and harness don't have repos for it at https://beaker-project.org/yum/client/ and https://beaker-project.org/yum/harness/:

![image](https://user-images.githubusercontent.com/755362/204236579-2fcdc4ec-c287-4f1b-bfa0-f93112f3bf03.png)

This is a similar issue as https://github.com/beaker-project/beaker/issues/146.

@StykMartin would that be something

[2022-11-28 11:25] StykMartin commented on #169
Hello @mh21. Restraint builds are manually synced to the upstream node. I need to create a new build and I store it there.
If chroot is ready it should be quite simple.

[2022-11-29 09:40] mh21 commented on #169
I updated the title and description to clarify that this also affects the harness repos at https://beaker-project.org/yum/harness/.